* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ENTEte */
header {
    background-image: url(/images/premier\ plan.jpg);
    height: 150vh;
    background-size: cover;
    background-position: center;
}

.logo {
    color: #065F46;
    padding: 0 20px;
    border: 3px solid;
    position: absolute;
    top: 10px;
    left: 10px;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;

}

.logo span {
    color: #D97706;

}

ul {
    list-style: none;
    float: right;
    display: flex;

}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px traoralwhite;
    margin: 5px;
    font-weight: 100;
    transition: 0.6s ease;
}

ul li a:hover {
    background: #065F46;

}

/* boutondevant */
.devant {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.devant h1 {
    color: #fff;
    font-size: 50px;
}

.boutons {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.boutons a {
    color: #fff;
    text-decoration: none;
    border: 1px solid floralwhite;
    padding: 10px 20px;
}

.boutons a:hover {
    transition: 0.6s;
    background-color: #065F46;
}

/* premiere section */
section {
    background-color: #fef3C7;
    padding: 60px 60px;
}

.titre {
    font-size: 40px;
    text-align: center;
    margin: bottom;
    color: #065F46;

}

.rect {
    display: flexbox;

    gap: 20px;
    max-width: 860px;
    margin: 0 auto;
}

.avantage {
    border: #065F46 solid 1px;
    border-radius: 10px;
    padding: 40px 40px;
}

/* PIEDS DE PAGE */

footer {
    background-color: #111827;
    color: white;
    padding: 60px 20px 20px;
}

.pieds-contenu {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}


/* liens */

.liens-pieds {
    list-style: none;
}

.liens-pieds li {
    margin-bottom: 12px;
}

.liens-pieds li a {
    color: white;
    text-decoration: none;
    transition: 0.4s;
}

.liens-pieds li a:hover {
    color: #D97706;
    padding-left: 5px;
}

/* réseaux */

.reseaux {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.reseaux a {
    color: white;
    text-decoration: none;
    transition: 0.4s;
}

.reseaux a:hover {
    color: #D97706;
}

/* bas des pieds */

.bas-pieds {
    text-align: center;
    margin-top: 50px;
    border-top: 1px solid rgba(255,255,255,0.2);
    padding-top: 20px;
}


